@font-face {
  font-family: "Cocogoose";
  src: url("fonts/cocogoose-webfont.woff2") format("woff2"), url("fonts/cocogoose-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body,
header,
main,
footer {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
}
main {
  background-image: url(/images/background1.png);
}
main * {
  background-image: none;
}
main .show-image {
  background-image: inherit;
}
.default-content {
  height: 15rem;
}
.width-80 {
  width: 80%;
  text-align: left;
}
.wellcome-main-block {
  font-size: 5rem;
  font-weight: bolder;
  margin: 0;
}
.font-effect {
  text-transform: uppercase;
  background: linear-gradient(
    to right top,
    #f18d57 0%,
    #ec5242 25%,
    #b22517 40%,
    #f18d57 50%,
    #b22517 60%,
    #f18d57 70%,
    #ec5242 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wellcome-block-top {
  font-size: 2rem;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 0px;
}
.text-block {
  font-size: 1rem;
  padding: 20px 20px;
  margin: 0;
}
.text-heading {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.zero {
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.5rem;
}
.center-text {
  text-align: center;
}
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

col {
  flex-direction: column;
}

.wrap {
  flex-flow: wrap;
}

.nowrap {
  flex-flow: nowrap;
}

.horizontal-center {
  justify-content: center;
}

.vertical-center {
  align-items: center;
  align-content: center;
}

.background-dark {
  background-color: #272a31;
  color: white;
}

.background-light {
  background-color: white;
}
.background-red {
  background-color: #ec5242;
}

.dark {
  color: #272a31;
}

.red {
  color: #ec5242;
}

.grey {
  color: #d3d3d3;
}
.white {
  color: white;
}
.coco {
  font-family: "Cocogoose";
}

.lato {
  font-family: "Lato", sans-serif;
}
.font-size-14 {
  font-size: 14px;
}
.bold {
  font-weight: bolder;
}
.paddings {
  padding-left: 150px;
  padding-right: 150px;
}
.span-margins {
  margin: 10px;
}
.partners {
  font-size: 24px;
  font-weight: bolder;
}

.footer-paddings {
  padding-top: 20px;
  padding-bottom: 20px;
}

header div {
  justify-content: flex-end;
}

header div a {
  margin: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
}

.lg {
  width: 300px;
  height: 30px;
  font-family: "Cocogoose";
  border: 2px solid #d3d3d3;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}

.lg .left {
  font-family: "Cocogoose";
  font-size: 20px;
  color: #ec5242;
}

.lg .right {
  font-family: "Cocogoose";
  color: #272a31;
  font-size: 20px;
}

header nav {
  justify-content: space-between;
  height: 100px;
}

header span a {
  margin: 10px;
  color: #272a31;
  font-weight: bolder;
  text-decoration: none;
}

header span a:hover,
header span a:focus,
header span a:active {
  color: #ec5242;
}
.shadow {
  box-shadow: 10px 10px 8px #d3d3d3;
}

.product-box {
  width: 20%;
  background-color: #5b5b5e;
  margin: 20px 1px;
  padding: 20px;
}
.product-box img {
  width: 50%;
  height: 50px;
}
.product-box h3,
p {
  font-weight: bolder;
}

.product-box:hover,
.product-box:active,
.product-box:focus {
  border: 2px solid white;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}
.none {
  text-decoration: none;
}
.none:visited {
  text-decoration: none;
}
.member {
  width: 50%;
  margin: 10px;
  padding: 10px;
}
.member img {
  width: 100px;
  height: 100px;
  margin: 10px;
  box-shadow: -35px -35px 0 -20px #d3d3d3;
}

.button-wrapper {
  justify-content: center;
}

.button {
  transition-duration: 0.4s;
  width: 250px;
  height: 50px;
  padding: auto;
  font-size: 1rem;
  margin: 50px auto 100px auto;
  border-radius: 5px;
  color: white;
}

.button:hover {
  background-color: #d3d3d3;
  color: #272a31;
}
#about {
  width: 60%;
  margin: auto;
  background-color: white;
}
#about h1 {
  font-size: 2rem;
}
.margins {
  margin: auto 150px;
  padding: 20px;
}
.auto {
  margin: auto;
  background-color: white;
}
.white-back {
  background-color: white;
  margin: auto 235px;
}
